<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="archivesi" class="main.java.cn.qingtianr.service.impl.ArchiveServiceImpl"/>
    <bean id="articlesi" class="main.java.cn.qingtianr.service.impl.ArticleServiceImpl"/>
    <bean id="usersi" class="main.java.cn.qingtianr.service.impl.UserServiceImpl"/>
</beans>