<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="archivesi" class="main.java.cn.qingtianr.service.impl.ArchiveServiceImpl">
        <property name="archivedao" ref="archivedao"/>
    </bean>

    <bean id="articlesi" class="main.java.cn.qingtianr.service.impl.ArticleServiceImpl">
        <property name="articledao" ref="articledao"/>
    </bean>

    <bean id="usersi" class="main.java.cn.qingtianr.service.impl.UserServiceImpl">
        <property name="userdao" ref = "userdao"/>
    </bean>

    <bean id="commentsi" class="main.java.cn.qingtianr.service.impl.CommentServiceImpl">
        <property name="commentdao" ref = "commentdao"/>
    </bean>
    <!--<aop:aspectj-autoproxy proxy-target-class="true" />-->
    <!-- 自动扫描 -->
    <!--<context:component-scan base-package="main.java.cn.qingtianr" />-->
    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:main/resources/jdbc.properties" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}"></property>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${maxActive}"></property>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${maxIdle}"></property>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}"></property>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${maxWait}"></property>
    </bean>

    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
         <!--自动扫描mapping.xml文件 -->
        <property name="mapperLocations" value="classpath:main/java/cn/qingtianr/dao/*.xml"></property>
        <!--&lt;!&ndash; 扫描别名类?? &ndash;&gt;-->
        <!--<property name="typeAliasesPackage" value="main.java.cn.qingtianr.model" />-->
    </bean>

    <bean id="userdao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="main.java.cn.qingtianr.dao.UserDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="articledao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="main.java.cn.qingtianr.dao.ArticleDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="archivedao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="main.java.cn.qingtianr.dao.ArchiveDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="commentdao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="main.java.cn.qingtianr.dao.CommentDao" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>


    <!--<bean id="usersi" class="main.java.cn.qingtianr.service.impl.UserServiceImpl">-->
        <!--<property name="userdao" ref = "userdao"/>-->
    <!--</bean >-->


    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="main.java.cn.qingtianr.dao" />-->
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>-->
    <!--</bean>-->

    <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->

    <!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
        <!--<property name="basePackage" value="main.java.cn.qingtianr.dao" />-->
    <!--</bean>-->
</beans>